.vertical {
  animation: vertical_1643 1.44s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes vertical_1643 {
  0% { transform:translate(0,-3px) }
  5.55556% { transform:translate(0,3px) }
  11.11111% { transform:translate(0,-3px) }
  16.66667% { transform:translate(0,3px) }
  22.22222% { transform:translate(0,-3px) }
  27.77778% { transform:translate(0,3px) }
  30.55556% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}

.horizontal {
  animation: horizontal_6003 2.72s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes horizontal_6003 {
  0% { transform:translate(0,0) }
  4.41177% { transform:translate(5px,0) }
  8.82353% { transform:translate(0,0) }
  13.23529% { transform:translate(5px,0) }
  17.64706% { transform:translate(0,0) }
  22.05882% { transform:translate(5px,0) }
  26.47059% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}
.wrench {
  animation: wrench_419 2.875s ease infinite;
  transform-origin: 10% 90%;
}

@keyframes wrench_419 {
  0% { transform:rotate(-12deg) }
  6.95652% { transform:rotate(12deg) }
  8.69565% { transform:rotate(0deg) }
  15.65217% { transform:rotate(-24deg) }
  17.39131% { transform:rotate(-24deg) }
  24.34782% { transform:rotate(0deg) }
  26.08696% { transform:rotate(0deg) }
  33.04348% { transform:rotate(-24deg) }
  34.78261% { transform:rotate(-24deg) }
  41.73913% { transform:rotate(0deg) }
  43.47826% { transform:rotate(0deg) }
  50.43478% { transform:rotate(-24deg) }
  52.17391% { transform:rotate(-24deg) }
  59.13044% { transform:rotate(0deg) }
  65.21739% { transform:rotate(0deg) }
  100% { transform:rotate(0deg) }
}

.ring {
  animation: ring_9836 3s ease infinite;
  transform-origin: 50% 100%;
}

@keyframes ring_9836 {
  0% { transform: rotate(-15deg) }
  1.66667% { transform: rotate(15deg) }
  3.33333% { transform: rotate(-18deg) }
  5% { transform: rotate(18deg) }
  6.66667% { transform: rotate(-22deg) }
  8.33333% { transform: rotate(22deg) }
  10% { transform: rotate(-18deg) }
  11.66667% { transform: rotate(18deg) }
  13.33333% { transform: rotate(-12deg) }
  15% { transform: rotate(12deg) }
  16.66667% { transform: rotate(0deg) }
  100% { transform: rotate(0deg) }
}

.pulse {
  animation: pulse_9001 4s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes pulse_9001 {
  0% { transform: scale(1.1) }
  25% { transform: scale(0.8) }
  50% { transform: scale(1.1) }
  100% { transform: scale(1.1) }
}

.float {
  animation: float_892 3s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes float_892 {
  0% { transform: translateY(0) }
  33.33333% { transform: translateY(-6px) }
  66.66667% { transform: translateY(0) }
  100% { transform: translateY(0) }
}
