#page1.gwd-play-animation .gwd-motion-path-bsjb-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["29px", "-83px", "66.56px", "38.46px", "-140.56px", "-164.46px", "-103px", "-43px"], "startTimeMs": 0, "endTimeMs": 4200, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-bsjb-keys-x 4.2s linear 0s 1 normal forwards running;
  transform:translate3d(29px, 0px, 0px);
}
@keyframes gwd-motion-path-bsjb-keys-x {
  0% {
    transform: translate3d(29px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.6852, -0.7112, 0.7536, 0.4721);
  }
  27.5% {
    transform: translate3d(8.53px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3275, 0.3394, 0.6813, 0.6534);
  }
  80% {
    transform: translate3d(-98.78px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2065, 2.1302, 0.3715, 2.9003);
  }
  100% {
    transform: translate3d(-103px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-bsjb-anim-y {
  animation: gwd-motion-path-bsjb-keys-y 4.2s linear 0s 1 normal forwards running;
  transform: translate3d(0px, -83px, 0px);
}
@keyframes gwd-motion-path-bsjb-keys-y {
  0% {
    transform: translate3d(0px, -83px, 0px);
    animation-timing-function: cubic-bezier(0.3406, 0.3243, 0.6479, 0.6933);
  }
  17.5% {
    transform: translate3d(0px, -46.11px, 0px);
    animation-timing-function: cubic-bezier(0.161, -0.5719, 0.839, 1.5719);
  }
  82.5% {
    transform: translate3d(0px, -79.89px, 0px);
    animation-timing-function: cubic-bezier(0.3521, 0.3067, 0.6594, 0.6757);
  }
  100% {
    transform: translate3d(0px, -43px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-919j-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["194px", "-327px", "190px", "-195px", "-38.67px", "-156.38px", "-38px", "-43px"], "startTimeMs": 0, "endTimeMs": 4200, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-919j-keys-x 4.2s linear 0s 1 normal forwards running;
  transform:translate3d(194px, 0px, 0px);
}
@keyframes gwd-motion-path-919j-keys-x {
  0% {
    transform: translate3d(194px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4377, 0.0539, 0.7607, 0.6783);
  }
  37.5% {
    transform: translate3d(120.08px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3311, 0.3295, 0.6268, 0.7203);
  }
  87.5% {
    transform: translate3d(-25.11px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2032, 0.3496, 0.5179, 0.9927);
  }
  100% {
    transform: translate3d(-38px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-919j-anim-y {
  animation: gwd-motion-path-919j-keys-y 4.2s linear 0s 1 normal forwards running;
  transform: translate3d(0px, -327px, 0px);
}
@keyframes gwd-motion-path-919j-keys-y {
  0% {
    transform: translate3d(0px, -327px, 0px);
    animation-timing-function: cubic-bezier(0.2822, 0.3915, 0.6078, 0.717);
  }
  50% {
    transform: translate3d(0px, -181.85px, 0px);
    animation-timing-function: cubic-bezier(0.379, 0.2959, 0.7304, 0.5984);
  }
  97.5% {
    transform: translate3d(0px, -52.52px, 0px);
  }
  100% {
    transform: translate3d(0px, -43px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-1uwe-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["-268px", "271px", "-284.33px", "392.33px", "57.33px", "-150.33px", "41px", "-29px"], "startTimeMs": 0, "endTimeMs": 4200, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-1uwe-keys-x 4.2s linear 0s 1 normal forwards running;
  transform:translate3d(-268px, 0px, 0px);
}
@keyframes gwd-motion-path-1uwe-keys-x {
  0% {
    transform: translate3d(-268px, 0px, 0px);
  }
  2.5% {
    transform: translate3d(-268.13px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3188, 0.3481, 0.6381, 0.6855);
  }
  20% {
    transform: translate3d(-205.66px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3277, 0.3376, 0.6893, 0.6443);
  }
  92.5% {
    transform: translate3d(21.45px, 0px, 0px);
  }
  95% {
    transform: translate3d(31.92px, 0px, 0px);
  }
  97.5% {
    transform: translate3d(41.13px, 0px, 0px);
  }
  100% {
    transform: translate3d(41px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-1uwe-anim-y {
  animation: gwd-motion-path-1uwe-keys-y 4.2s linear 0s 1 normal forwards running;
  transform: translate3d(0px, 271px, 0px);
}
@keyframes gwd-motion-path-1uwe-keys-y {
  0% {
    transform: translate3d(0px, 271px, 0px);
  }
  2.5% {
    transform: translate3d(0px, 283.31px, 0px);
    animation-timing-function: cubic-bezier(0.1186, -0.7524, 0.9127, 0.9777);
  }
  15% {
    transform: translate3d(0px, 255.68px, 0px);
    animation-timing-function: cubic-bezier(0.3393, 0.3271, 0.6562, 0.6789);
  }
  90% {
    transform: translate3d(0px, -31.42px, 0px);
    animation-timing-function: cubic-bezier(0.6074, -8.0881, 0.5372, -8.6377);
  }
  100% {
    transform: translate3d(0px, -29px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-ueu8-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["-467px", "-5px", "-369.01px", "-3.47px", "-154.17px", "-116.11px", "-51px", "-43px"], "startTimeMs": 0, "endTimeMs": 4200, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-ueu8-keys-x 4.2s linear 0s 1 normal forwards running;
  transform:translate3d(-467px, 0px, 0px);
}
@keyframes gwd-motion-path-ueu8-keys-x {
  0% {
    transform: translate3d(-467px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3314, 0.3355, 0.6719, 0.6621);
  }
  87.5% {
    transform: translate3d(-99.96px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3225, 0.3437, 0.6484, 0.6856);
  }
  100% {
    transform: translate3d(-51px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-ueu8-anim-y {
  animation: gwd-motion-path-ueu8-keys-y 4.2s linear 0s 1 normal forwards running;
  transform: translate3d(0px, -5px, 0px);
}
@keyframes gwd-motion-path-ueu8-keys-y {
  0% {
    transform: translate3d(0px, -5px, 0px);
    animation-timing-function: cubic-bezier(0.4181, 0.0212, 0.7769, 0.7005);
  }
  20% {
    transform: translate3d(0px, -18.63px, 0px);
    animation-timing-function: cubic-bezier(0.2504, 0.7404, 0.734, 3.4252);
  }
  100% {
    transform: translate3d(0px, -43px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}