#page1.gwd-play-animation .gwd-motion-path-bsjb-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["29px", "-83px", "66.56px", "38.46px", "-37.56px", "-153.46px", "0px", "-32px"], "startTimeMs": 0, "endTimeMs": 3800, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-bsjb-keys-x 3.8s linear 0s 1 normal forwards running;
  transform:translate3d(29px, 0px, 0px);
}
@keyframes gwd-motion-path-bsjb-keys-x {
  0% {
    transform: translate3d(29px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2252, 0.6288, 0.9347, 3.6335);
  }
  32.5% {
    transform: translate3d(32.95px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3053, 0.3603, 0.7099, 0.6268);
  }
  70% {
    transform: translate3d(-7.21px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.1352, -0.6205, 0.9182, 0.8873);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-bsjb-anim-y {
  animation: gwd-motion-path-bsjb-keys-y 3.8s linear 0s 1 normal forwards running;
  transform: translate3d(0px, -83px, 0px);
}
@keyframes gwd-motion-path-bsjb-keys-y {
  0% {
    transform: translate3d(0px, -83px, 0px);
  }
  30% {
    transform: translate3d(0px, -41.64px, 0px);
    animation-timing-function: cubic-bezier(0.2344, -0.1681, 0.8158, 0.8477);
  }
  52.5% {
    transform: translate3d(0px, -60.08px, 0px);
    animation-timing-function: cubic-bezier(0.1464, 0.1138, 0.7886, 1.273);
  }
  70% {
    transform: translate3d(0px, -73.36px, 0px);
  }
  100% {
    transform: translate3d(0px, -32px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-919j-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["194px", "-327px", "190px", "-195px", "-0.67px", "-145.38px", "0px", "-32px"], "startTimeMs": 0, "endTimeMs": 4000, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-919j-keys-x 4s linear 0s 1 normal forwards running;
  transform:translate3d(194px, 0px, 0px);
}
@keyframes gwd-motion-path-919j-keys-x {
  0% {
    transform: translate3d(194px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4415, 0.0551, 0.7611, 0.6739);
  }
  42.5% {
    transform: translate3d(120.46px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3234, 0.3337, 0.6169, 0.7355);
  }
  87.5% {
    transform: translate3d(9.84px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.1992, 0.3536, 0.5148, 0.9956);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-919j-anim-y {
  animation: gwd-motion-path-919j-keys-y 4s linear 0s 1 normal forwards running;
  transform: translate3d(0px, -327px, 0px);
}
@keyframes gwd-motion-path-919j-keys-y {
  0% {
    transform: translate3d(0px, -327px, 0px);
    animation-timing-function: cubic-bezier(0.2926, 0.3791, 0.624, 0.703);
  }
  55% {
    transform: translate3d(0px, -164.95px, 0px);
    animation-timing-function: cubic-bezier(0.3747, 0.2977, 0.7078, 0.6214);
  }
  100% {
    transform: translate3d(0px, -32px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-1uwe-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["-268px", "271px", "-284.33px", "392.33px", "16.33px", "-153.33px", "0px", "-32px"], "startTimeMs": 0, "endTimeMs": 4200, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-1uwe-keys-x 4.2s linear 0s 1 normal forwards running;
  transform:translate3d(-268px, 0px, 0px);
}
@keyframes gwd-motion-path-1uwe-keys-x {
  0% {
    transform: translate3d(-268px, 0px, 0px);
  }
  2.5% {
    transform: translate3d(-268.45px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3291, 0.3405, 0.6306, 0.69);
  }
  17.5% {
    transform: translate3d(-220.89px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3256, 0.3396, 0.6903, 0.6432);
  }
  92.5% {
    transform: translate3d(-16.79px, 0px, 0px);
  }
  95% {
    transform: translate3d(-7.39px, 0px, 0px);
  }
  97.5% {
    transform: translate3d(0.45px, 0px, 0px);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-1uwe-anim-y {
  animation: gwd-motion-path-1uwe-keys-y 4.2s linear 0s 1 normal forwards running;
  transform: translate3d(0px, 271px, 0px);
}
@keyframes gwd-motion-path-1uwe-keys-y {
  0% {
    transform: translate3d(0px, 271px, 0px);
  }
  2.5% {
    transform: translate3d(0px, 282.72px, 0px);
    animation-timing-function: cubic-bezier(0.0992, -0.7932, 0.9116, 0.9907);
  }
  15% {
    transform: translate3d(0px, 254.39px, 0px);
    animation-timing-function: cubic-bezier(0.338, 0.3285, 0.6584, 0.6763);
  }
  90% {
    transform: translate3d(0px, -33.47px, 0px);
    animation-timing-function: cubic-bezier(0.6027, -13.4174, 0.4961, -15.3387);
  }
  100% {
    transform: translate3d(0px, -32px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}