#page1.gwd-play-animation .gwd-motion-path-13gp-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "320.96px", "216.1px", "351.05px", "337.56px", "0px", "335px"], "startTimeMs": 0, "endTimeMs": 400, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-13gp-keys-x 0.4s linear 0s 5 normal forwards running;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-13gp-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3212, 0.3423, 0.6379, 0.7);
  }
  45% {
    transform: translate3d(223.93px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.452, -38.4246, 0.6308, -46.8888);
  }
  65% {
    transform: translate3d(223.05px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.348, 0.3176, 0.6682, 0.6662);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-13gp-anim-y {
  animation: gwd-motion-path-13gp-keys-y 0.4s linear 0s 5 normal forwards running;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-13gp-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3661, 0.2971, 0.7359, 0.6042);
  }
  57.5% {
    transform: translate3d(0px, 262.18px, 0px);
    animation-timing-function: cubic-bezier(0.1425, 0.5774, 0.3478, 1.0213);
  }
  100% {
    transform: translate3d(0px, 335px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}